Options -Indexes
#Options +FollowSymLinks
Options -MultiViews
DirectoryIndex index.php
php_value upload_max_filesize 2048M
php_value post_max_size 4096M
php_value max_execution_time 3600
php_value max_input_time 3600

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteCond $1 !^(index\.php|/api/|/secure/|/assets/|/uploads/|robots\.txt|favicon\.ico)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>